@use 'variables';
@use 'links';
@use 'gradients';

%transparent-dark {
    background-color: rgba(variables.$primary-dark, .9);
}

.bg-primary {
    background-color: variables.$primary;
    color: variables.$primary-text;

    *.link {
        @extend .link;
    }

    *.gradient {
        @extend .gradient;
    }

    *.gradient-hover-animation {
        @extend .gradient-hover-animation;
    }

    *.transparent {
        @extend .transparent;
    }

    &.dark {
        background-color: variables.$primary-dark;
        color: variables.$primary-text-dark;

        *.link:not(.bg-primary) {
            @extend %link-dark;
        }

        *.gradient:not(.bg-primary) {
            @extend %gradient-dark;
        }
    
        *.gradient-hover-animation:not(.bg-primary) {
            @extend %gradient-hover-animation-dark;
            @extend .gradient-hover-animation;
        }

        *.transparent:not(.bg-primary) {
            @extend %transparent-dark;
        }
    }
}