@use 'variables';

.bg-primary {
    background: variables.$primary;

    &.transparent {
        background: rgba(variables.$primary, .9);
    }

    &.dark {
        background: variables.$primary-dark;

        &.transparent {
            background: rgba(variables.$primary-dark, .9);
        }
    }
}