@use 'variables';
@use 'shadow';
@use 'gradients';
@use 'layout';

.button {
    @extend .center;
    @extend .shadow-3;
    @extend %clickable;
    @include variables.border-radius();

    min-width: min-content;
    min-height: min-content;
    padding: 0.5em;

    &.active {
        @extend .shadow-inset-3;

        &:hover {
            @extend .shadow-inset-5;
        }
    }

    &:hover {
        @extend .shadow-5;

        &.active {
            @extend .shadow-inset-5;
        }
    }

    &:active {
        @extend .shadow-inset-3;
    }
}

@each $value in 1, 2, 3 {
    
    .button-round-#{$value} {
        @extend .button ;
        min-width: #{$value + 0.5}em;
        min-height: #{$value + 0.5}em;
        border-radius: #{$value / 2 + 1}em;
    }

    .button-expand-#{$value} {
        @extend .center;
        
        > * { 
            animation: animation-shrink-#{$value} 0.2s ease forwards;

            &.gradient-hover-animation {
                animation: animation-shrink-gradient-#{$value} 0.2s ease forwards;

                &.dark {
                    @extend %gradient-dark;
                    background-size: 200% 200%;
                }
            }
        } 
    
        &:hover {
            > * { 
                animation: animation-expand-#{$value} 0.2s ease forwards;

                &.gradient-hover-animation {
                    animation: animation-expand-gradient-#{$value} 0.2s ease forwards;
                }
            } 
        }
    }
    
    @keyframes animation-expand-#{$value} {
        0%{margin: 0em; padding: #{$value * 0.5em};}
        100%{margin: #{$value * -0.5em}; padding: #{$value * 0.5em + 0.5em};}
    }
    
    @keyframes animation-shrink-#{$value} {
        0%{margin: #{$value * -0.5em}; padding: #{$value * 0.5em + 0.5em};}
        100%{margin: 0em; padding: #{$value * 0.5em};}
    }

    @keyframes animation-expand-gradient-#{$value} {
        0%{margin: 0em; padding: #{$value * 0.5em}; background-position: 0% 0%;}
        100%{margin: #{$value * -0.5em}; padding: #{$value * 0.5em + 0.5em}; background-position: 100% 100%;}
    }
    
    @keyframes animation-shrink-gradient-#{$value} {
        0%{margin: #{$value * -0.5em}; padding: #{$value * 0.5em + 0.5em}; background-position: 100% 100%;}
        100%{margin: 0em; padding: #{$value * 0.5em}; background-position: 0% 0%;}
    }
}
