@use 'variables';
@use 'shadow';
@use 'gradients';

.button {
    @extend .shadow-3;
    @extend %clickable;
    @include variables.border-radius();

    &.active {
        @extend .shadow-inset-3;
    }
}

.button:hover {
    @extend .shadow-5;

    &.active {
        @extend .shadow-inset-5;
    }
}

.button:active {
    @extend .shadow-inset-3;
}

.button-expand {
    animation: animation-shrink 0.2s ease forwards;

    * { 
        height: 100%;
        width: 100%;
    } 
}

.button-expand:hover {
    animation: animation-expand 0.2s ease forwards;
}

@keyframes animation-shrink {
    0%{padding: 0em;}
    100%{padding: 1em;}
}

@keyframes animation-expand {
    0%{padding: 1em;}
    100%{padding: 0em;}
}