@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@for $i from 1 through 5 {
    .fixed-tl-#{$i} {
        position: fixed;
        top: #{$i}em;
        left: #{$i}em;
    }

    .fixed-tr-#{$i} {
        position: fixed;
        top: #{$i}em;
        right: #{$i}em;
    }

    .fixed-bl-#{$i} {
        position: fixed;
        bottom: #{$i}em;
        left: #{$i}em;
    }

    .fixed-br-#{$i} {
        position: fixed;
        bottom: #{$i}em;
        right: #{$i}em;
    }
}
