@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@mixin fixed($scalar: 1) {
    @for $i from 1 through 5 {
        .fixed-tl-#{$i} {
            position: fixed;
            top: #{$i * $scalar}em;
            left: #{$i * $scalar}em;
        }
    
        .fixed-tr-#{$i} {
            position: fixed;
            top: #{$i * $scalar}em;
            right: #{$i * $scalar}em;
        }
    
        .fixed-bl-#{$i} {
            position: fixed;
            bottom: #{$i * $scalar}em;
            left: #{$i * $scalar}em;
        }
    
        .fixed-br-#{$i} {
            position: fixed;
            bottom: #{$i * $scalar}em;
            right: #{$i * $scalar}em;
        }
    }
}

@include fixed(1);

@media screen and (max-width: variables.$screen-width-l) {
    @include fixed(0.75);
}

@media screen and (max-width: variables.$screen-width-m) {
    @include fixed(0.6);
}

@media screen and (max-width: variables.$screen-width-s) {
    @include fixed(0.45);
}
