@use 'variables';

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.flex-column {
    @include flex(column, flex-start, center);
}

.flex-row {
    @include flex(row, flex-start, center);
}

.content-column {
    @extend .flex-column;
    background-color: variables.$primary;
    &.dark {
        background-color: variables.$secondary;
    }
}

.content-row {
    @extend .flex-row;
    background-color: variables.$primary;
    &.dark {
        background-color: variables.$secondary;
    }
}