@use 'variables';
@use 'offsets';
@use 'shadow';
@use 'layout';
@use 'z-index';

%gradient {
    background: linear-gradient(135deg, variables.$alpha, variables.$secondary 25%, variables.$alpha);
}

%gradient-dark {
    background: linear-gradient(135deg, variables.$alpha-dark, variables.$secondary-dark 25%, variables.$alpha-dark);
}

%gradient-hover-animation {
    @extend %gradient;
    background-size: 200% 200%;
    -webkit-animation: animation-back 0.2s ease forwards;
    -moz-animation: animation-back 0.2s ease forwards;
    animation: animation-back 0.2s ease forwards;
}

%gradient-hover-animation-dark {
    @extend %gradient-dark;
    background-size: 200% 200%;
    -webkit-animation: animation-back 0.2s ease forwards;
    -moz-animation: animation-back 0.2s ease forwards;
    animation: animation-back 0.2s ease forwards;
}

.gradient {
    @extend %gradient;
}

.gradient-hover-animation {
    @extend %gradient-hover-animation;
}

.gradient-hover-animation:hover {
    -webkit-animation: animation-forward 0.2s ease forwards;
    -moz-animation: animation-forward 0.2s ease forwards;
    animation: animation-forward 0.2s ease forwards;
}

@-webkit-keyframes animation-forward {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@-moz-keyframes animation-forward {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@keyframes animation-forward { 
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@-webkit-keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@-moz-keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}