@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'offsets';
@use 'shadow';
@use 'layout';
@use 'z-index';

@each $name, $theme in variables.$themes {
    $primary: map.get($theme, "primary");
    $text: map.get($theme, "text");

    %#{$name}-gradient {
        @if color.blackness($primary) > 50% {
            background: linear-gradient(135deg, variables.$alpha-dark, lighten($primary, 10%) 25%, variables.$alpha-dark);
        }
        @else {
            background: linear-gradient(135deg, variables.$alpha, darken($primary, 10%) 25%, variables.$alpha);
        }
    }
    
    %#{$name}-gradient-hover-animation {
        @extend %#{$name}-gradient;
        background-size: 200% 200%;
        -webkit-animation: animation-back 0.2s ease forwards;
        -moz-animation: animation-back 0.2s ease forwards;
        animation: animation-back 0.2s ease forwards;
    }
    
    .gradient.#{$name} {
        @extend %#{$name}-gradient;
    }
    
    .gradient-hover-animation.#{$name}{
        @extend %#{$name}-gradient-hover-animation;
    }
}

.gradient-hover-animation:hover {
    -webkit-animation: animation-forward 0.2s ease forwards;
    -moz-animation: animation-forward 0.2s ease forwards;
    animation: animation-forward 0.2s ease forwards;
}

@-webkit-keyframes animation-forward {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@-moz-keyframes animation-forward {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@keyframes animation-forward { 
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@-webkit-keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@-moz-keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

@keyframes animation-back {
    0%{background-position:100% 100%}
    100%{background-position:0% 0%}
}