@use 'variables';

@mixin text($size, $margin: 0.25em 0px, $color: black, $weight: normal) {
    font-size: $size;
    margin: $margin;
    color: $color;
    font-weight: $weight;
}

@mixin headers($scalar) {
    %h1 {
        @include text(variables.$h1-size * $scalar)
    }
    
    %h2 {
        @include text(variables.$h2-size * $scalar)
    }
    
    %h3 {
        @include text(variables.$h3-size * $scalar)
    }
    
    %h4 {
        @include text(variables.$h4-size * $scalar)
    }
}

@include headers(1);

@media screen and (max-width: variables.$screen-width-large) {
    @include headers(0.9);
}

@media screen and (max-width: variables.$screen-width-medium) {
    @include headers(0.75);
}

@media screen and (max-width: variables.$screen-width-small) {
    @include headers(0.5);
}

h1, .h1-text {
    @extend %h1;
}

h1.dark-mode, .h1-text.dark-mode {
    @extend %h1;
    color: white;
}


h2, .h2-text {
    @extend %h2;
}

h2.dark-mode, .h2-text.dark-mode {
    @extend %h2;
    color: white;
}


h3, .h3-text {
    @extend %h3;
}

h3.dark-mode, .h3-text.dark-mode {
    @extend %h3;
    color: white;
}


h4, .h4-text {
    @extend %h4;
}

h4.dark-mode, .h4-text.dark-mode {
    @extend %h4;
    color: white;
}