@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@for $i from 1 through 10 { 
    .width-#{$i} {
        width: #{10% * $i};
    }

    .height-#{$i} {
        height: #{10% * $i};
    }
}

@for $i from 1 through 10 { 
    .width-#{$i}em {
        min-width: #{$i}em;
        width: #{$i}em;
    }

    .height-#{$i}em {
        min-height: #{$i}em;
        height: #{$i}em;
    }

    .size-#{$i}em {
        min-width: #{$i}em;
        width: #{$i}em;
        min-height: #{$i}em;
        height: #{$i}em;
    }
}

@mixin offsets($scalar: 1) {
    @each $type in variables.$offset-types {
        //Generate offsets of fixed em value amounts.
        @for $i from 1 through 10 {
            @each $direction in variables.$offset-directions {
                .#{$type}-#{$direction}-#{$i} {
                    #{$type}-#{$direction}: #{$i * $scalar}em;
                }
            }

            .#{$type}-horizontal-#{$i} {
                #{$type}: {
                    left: #{$i * $scalar}em;
                    right: #{$i * $scalar}em;
                }
            }

            .#{$type}-vertical-#{$i} {
                #{$type}: {
                    top: #{$i * $scalar}em;
                    bottom: #{$i * $scalar}em;
                }
            }

            .#{$type}-#{$i} {
                #{$type}: #{$i * $scalar}em;
            }

            .child- {
                @each $direction in variables.$offset-directions {
                    &#{$type}-#{$direction}-#{$i} > * {
                        #{$type}-#{$direction}: #{$i * $scalar}em;
                    }
                }
    
                &#{$type}-horizontal-#{$i} > * {
                    #{$type}: {
                        left: #{$i * $scalar}em;
                        right: #{$i * $scalar}em;
                    }
                }
    
                &#{$type}-vertical-#{$i} > * {
                    #{$type}: {
                        top: #{$i * $scalar}em;
                        bottom: #{$i * $scalar}em;
                    }
                }
    
                &#{$type}-#{$i} > * {
                    #{$type}: #{$i * $scalar}em;
                }
            }
        }

        @each $level, $value in variables.$offset-values {
            @each $direction in variables.$offset-directions {
                .#{$type}-#{$direction}-#{$level} {
                    #{$type}-#{$direction}: $value * $scalar;
                }
            }

            .#{$type}-horizontal-#{$level} {
                #{$type}: {
                    left: $value * $scalar;
                    right: $value * $scalar;
                }
            }

            .#{$type}-vertical-#{$level} {
                #{$type}: {
                    top: $value * $scalar;
                    bottom: $value * $scalar;
                }
            }

            .#{$type}-#{$level} {
                #{$type}: $value * $scalar;
            }

            .child- {
                @each $direction in variables.$offset-directions {
                    &#{$type}-#{$direction}-#{$level} > * {
                        #{$type}-#{$direction}: $value * $scalar;
                    }
                }
    
                &#{$type}-horizontal-#{$level} > * {
                    #{$type}: {
                        left: $value * $scalar;
                        right: $value * $scalar;
                    }
                }
    
                &#{$type}-vertical-#{$level} > * {
                    #{$type}: {
                        top: $value * $scalar;
                        bottom: $value * $scalar;
                    }
                }
    
                &#{$type}-#{$level} > * {
                    #{$type}: $value * $scalar;
                }
            }
        }
    }
}

@include offsets(1);

@media screen and (max-width: variables.$screen-width-l) {
    @include offsets(0.75);
}

@media screen and (max-width: variables.$screen-width-m) {
    @include offsets(0.6);
}

@media screen and (max-width: variables.$screen-width-s) {
    @include offsets(0.45);
}
