@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'offsets';
@use 'fixed';
@use 'shadow';
@use 'layout';
@use 'z-index';

@each $value in -1, 0, 1, 2, 3, 4, 5 {
    %z#{$value} {
        z-index: $value;
    }
}

%clickable {
    cursor: pointer;
}

@mixin border-radius($radius: 0.25em) {
    border: 0px;
    border-radius: $radius;
}
