@use "sass:map";
@use "sass:color";
@use "variables";

@mixin flex($direction, $justify, $align, $grow: 1) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-grow: $grow;
}

@mixin flex-column($justify, $align, $grow: 1) {
    @include flex(column, $justify, $align, $grow);
    height: 100%;
}

@mixin flex-row($justify, $align, $grow: 1) {
    @include flex(row, $justify, $align, $grow);
    width: 100%;
}

@mixin border-radius($radius: 0.25em) {
    border: 0px;
    border-radius: $radius;
}

@each $level, $value in variables.$offset-values {
    @each $type in variables.$offset-types {
        @each $direction in variables.$offset-directions {
            %#{$type}-#{$direction}-#{$level} {
                #{$type}-#{$direction}: $value;
            }
        }

        %#{$type}-horizontal-#{$level} {
            #{$type}: {
                left: $value;
                right: $value;
            }
        }

        %#{$type}-vertical-#{$level} {
            #{$type}: {
                top: $value;
                bottom: $value;
            }
        }

        %#{$type}-#{$level} {
            #{$type}: $value;
        }
    }    
}

@for $i from -1 through 10 {
    %z#{$i} {
        z-index: $i;
    }
}

@for $i from 1 through 10 { 
    %width-#{$i} {
        width: #{10% * $i};
    }

    %height-#{$i} {
        width: #{10% * $i};
    }

    @each $type in variables.$offset-types {
        @each $direction in variables.$offset-directions {
            %#{$type}-#{$direction}-#{$i} {
                #{$type}-#{$direction}: #{$i}em;
            }
        }

        %#{$type}-horizontal-#{$i} {
            #{$type}: {
                left: #{$i}em;
                right: #{$i}em;
            }
        }

        %#{$type}-vertical-#{$i} {
            #{$type}: {
                top: #{$i}em;
                bottom: #{$i}em;
            }
        }

        %#{$type}-#{$i} {
            #{$type}: #{$i}em;
        }
    }
}

@for $i from 1 through 5 {
    %flex-grow-#{$i} {
        flex-grow: #{$i};
    }

    %shadow-#{$i} {
        box-shadow: gray 0px 0px ($i + 2px) 0px;
    }
    
    %shadow-up-#{$i} {
        box-shadow: gray 0px -#{$i}px ($i + 2px) 0px;
    }
    
    %shadow-down-#{$i} {
        box-shadow: gray 0px #{$i}px ($i + 2px) 0px;
    }
    
    %shadow-right-#{$i} {
        box-shadow: gray #{$i}px 0px ($i + 2px) 0px;
    }
    
    %shadow-left-#{$i} {
        box-shadow: gray -#{$i}px 0px ($i + 2px) 0px;
    }

    %shadow-inset-#{$i} {
        box-shadow: gray 0px 0px ($i + 2px) 0px inset;
    }
    
    %shadow-inset-up-#{$i} {
        box-shadow: gray 0px -#{$i}px ($i + 2px) 0px inset;
    }
    
    %shadow-inset-down-#{$i} {
        box-shadow: gray 0px #{$i}px ($i + 2px) 0px inset;
    }
    
    %shadow-inset-right-#{$i} {
        box-shadow: gray #{$i}px 0px ($i + 2px) 0px inset;
    }
    
    %shadow-inset-left-#{$i} {
        box-shadow: gray -#{$i}px 0px ($i + 2px) 0px inset;
    }
}

%clickable {
    cursor: pointer;
}

%flex {
    @include flex(column, center, center, 0);
}

%flex-column {
    @include flex-column(space-between, center);
}

%flex-row {
    @include flex-row(space-between, center);
}

%box {
    @extend %shadow-1;
    @extend %flex;
    min-width: 5em;
    min-height: 5em;
    border-radius: 3px;
}

%inline-box {
    @extend %box;
    display: inline-flex;
    min-height: fit-content;
}

%link {
    @extend %inline-box;
    @extend %gradient-hover-animation;
    @extend %clickable;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}