@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@each $name, $theme in variables.$themes {
    $primary: map.get($theme, "primary");
    $secondary: map.get($theme, "secondary");
    $text: map.get($theme, "text-colour");

    @for $i from 1 through 5 {
        .shadow-#{$i}.#{$name} {
            box-shadow: $secondary 0px 0px ($i + 2px) 0px;
        }
        
        .shadow-up-#{$i}.#{$name} {
            box-shadow: $secondary 0px -#{$i}px ($i + 2px) 0px;
        }
        
        .shadow-down-#{$i}.#{$name} {
            box-shadow: $secondary 0px #{$i}px ($i + 2px) 0px;
        }
        
        .shadow-right-#{$i}.#{$name} {
            box-shadow: $secondary #{$i}px 0px ($i + 2px) 0px;
        }
        
        .shadow-left-#{$i}.#{$name} {
            box-shadow: $secondary -#{$i}px 0px ($i + 2px) 0px;
        }
    
        .shadow-inset-#{$i}.#{$name} {
            box-shadow: $secondary 0px 0px ($i + 2px) 0px inset;
        }
        
        .shadow-inset-up-#{$i}.#{$name} {
            box-shadow: $secondary 0px -#{$i}px ($i + 2px) 0px inset;
        }
        
        .shadow-inset-down-#{$i}.#{$name} {
            box-shadow: $secondary 0px #{$i}px ($i + 2px) 0px inset;
        }
        
        .shadow-inset-right-#{$i}.#{$name} {
            box-shadow: $secondary #{$i}px 0px ($i + 2px) 0px inset;
        }
        
        .shadow-inset-left-#{$i}.#{$name} {
            box-shadow: $secondary -#{$i}px 0px ($i + 2px) 0px inset;
        }
    }
}
