@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@mixin text($size: variables.$font-size, $margin: variables.$s-offset variables.$n-offset, $weight: normal) {
    font-size: $size;
    margin: $margin;
    font-weight: $weight;
}

@mixin text-levels($scalar) {
    body, div, p, span, a, .text, .link {
        @include text(variables.$font-size * $scalar);
    } 

    h1, .h1-text {
        @include text(variables.$h1-size * $scalar)
    }
    
    h2, .h2-text {
        @include text(variables.$h2-size * $scalar)
    }
    
    h3, .h3-text {
        @include text(variables.$h3-size * $scalar)
    }
    
    h4, .h4-text {
        @include text(variables.$h4-size * $scalar)
    }

    h5, .h5-text {
        @include text(variables.$h5-size * $scalar)
    }

    h6, .h6-text {
        @include text(variables.$h6-size * $scalar)
    }
}

@each $name, $theme in variables.$themes {
    $primary: map.get($theme, "primary");
    $text: map.get($theme, "text");

    p, span, a, h1, h2, h3, h4, h5, h6 {
        &.#{$name}.text {
            color: $text;
        }
    }
}

@include text-levels(1);

@media screen and (max-width: variables.$screen-width-large) {
    @include text-levels(0.9);
}

@media screen and (max-width: variables.$screen-width-medium) {
    @include text-levels(0.75);
}

@media screen and (max-width: variables.$screen-width-small) {
    @include text-levels(0.5);
}