@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@mixin text($size: variables.$font-size, $margin: variables.$s-offset, $padding: 0px, $weight: normal) {
    font-size: $size;
    margin-top: $margin;
    margin-bottom: $margin;
    padding: $padding;
    font-weight: $weight;
}

@mixin text-levels($scalar) {

    @each $name, $theme in variables.$themes {
        $primary: map.get($theme, "primary");
        $text: map.get($theme, "text");

        p, span, a, select, option, label, input, textarea, .link {
            @include text(variables.$font-size * $scalar);
    
            &.#{$name} {
                color: $text;
            }
        } 
    
        body, div {
            @include text(variables.$font-size * $scalar);

            margin-top: 0px;
            margin-bottom: 0px;

            &.#{$name} {
                color: $text;
            }
        } 

        h1, .h1-text {
            @include text(variables.$h1-size * $scalar);

            &.#{$name} {
                color: $text;
            }
        }
        
        h2, .h2-text {
            @include text(variables.$h2-size * $scalar);

            &.#{$name} {
                color: $text;
            }
        }
        
        h3, .h3-text {
            @include text(variables.$h3-size * $scalar);

            &.#{$name} {
                color: $text;
            }
        }
        
        h4, .h4-text {
            @include text(variables.$h4-size * $scalar);

            &.#{$name} {
                color: $text;
            }
        }
    
        h5, .h5-text {
            @include text(variables.$h5-size * $scalar);

            &.#{$name} {
                color: $text;
            }
        }
    
        h6, .h6-text {
            @include text(variables.$h6-size * $scalar);
    
            &.#{$name} {
                color: $text;
            }
        }
    }
}

@include text-levels(1);

@media screen and (max-width: variables.$screen-width-large) {
    @include text-levels(0.9);
}

@media screen and (max-width: variables.$screen-width-medium) {
    @include text-levels(0.8);
}

@media screen and (max-width: variables.$screen-width-small) {
    @include text-levels(0.7);
}