@use "sass:map";
@use "sass:color";

$screen-width-large: 1200px;
$screen-width-medium: 900px;
$screen-width-small: 600px;

$n-offset: 0em;
$s-offset: 0.5em;
$m-offset: 1em;
$l-offset: 1.5em;
$xl-offset: 2em;
$xxl-offset: 3em;
$xxxl-offset: 5em;

$offset-types: padding, margin;
$offset-directions: top, bottom, left, right;
$offset-values: ("n": $n-offset, "s": $s-offset, "m": $m-offset, "l": $l-offset, "xl": $xl-offset, "xxl": $xxl-offset, "xxxl": $xxxl-offset);

$fonts: "Century Gothic", Arial, sans-serif;

$font-size: 1rem;

$h1-size: $font-size * 4.0;
$h2-size: $font-size * 2.5;
$h3-size: $font-size * 2.0;
$h4-size: $font-size * 1.75;
$h5-size: $font-size * 1.5;
$h6-size: $font-size * 1.25;

$white: #ffffff;
$black: #000000;

$alpha: #ffffff00;
$alpha-dark: #00000000;

@function get-contrasting-bw($color) {
    @if color.blackness($color) > 50% {
        @return white; 
    }
    @else {
        @return black; 
    }
}

@function color-tone-shift($color, $amount: 5%) {
    @if color.blackness($color) < 50% {
        @return darken($color, $amount);
    }
    @else {
        @return lighten($color, $amount);
    }
}

$themes: (
    "light": (
        "primary": #f7f7f7, 
        "secondary": color-tone-shift(#f7f7f7), 
        "tertiary": color-tone-shift(#f7f7f7, 25%), 
        "complement": complement(#f7f7f7), 
        "text-colour": $black,
        "fonts": $fonts,
        "font-size": $font-size,
        "padding": $s-offset,
        "margin": $s-offset,
        "rounding": 0.25em,
    ), 
    "dark": ( 
        "primary": #080808, 
        "secondary": color-tone-shift(#080808), 
        "complement": complement(#080808), 
        "tertiary": color-tone-shift(#080808, 25%), 
        "text-colour": $white,
        "fonts": $fonts,
        "font-size": $font-size,
        "padding": $s-offset,
        "margin": $s-offset,
        "rounding": 0.25em,
    )
);

@mixin add-theme($name, $primary) {
    $themes: map.merge($themes, ($name: (
        "primary": $primary, 
        "secondary": color-tone-shift($primary), 
        "tertiary": color-tone-shift($primary, 25%), 
        "complement": complement($primary), 
        "text-colour": get-contrasting-bw($primary),
        "fonts": $fonts,
        "font-size": $font-size,
        "padding": $s-offset,
        "margin": $s-offset,
        "rounding": 0.25em,
    ))) !global;
}

@include add-theme("dark-green", #073004);
@include add-theme("dark-blue", #05092e);
@include add-theme("light-cyan", #11f7ff);
@include add-theme("light-green", #1dff4e);
