@use "sass:map";
@use "sass:color";

$screen-width-large: 1200px;
$screen-width-medium: 900px;
$screen-width-small: 600px;

$n-offset: 0em;
$s-offset: 0.5em;
$m-offset: 1em;
$l-offset: 1.5em;
$xl-offset: 2em;

$fonts: "Century Gothic", Arial, sans-serif;

$font-size: 1rem;

$h1-size: 3.5rem;
$h2-size: 2.5rem;
$h3-size: 1.75rem;
$h4-size: 1.25rem;

$themes: ("default": #f7f7f7, "dark": #080808);

@each $theme, $value in $themes {
    .#{$theme} .primary {
        background-color: $value;
    } 
    .#{$theme} .secondary {
        background-color: darken($value, 15%);
    } 
    .#{$theme} .text {
        @if color.blackness($value) > 50% {
            color: white;
        }
        @else {
            color: black;
        }
    } 
}

$alpha: #ffffff00;
$alpha-dark: #00000000;

%clickable {
    cursor: pointer;
}

@mixin border-radius($radius: 0.25em) {
    border: 0px;
    border-radius: $radius;
}