@use "sass:map";
@use "sass:color";

$screen-width-large: 1200px;
$screen-width-medium: 900px;
$screen-width-small: 600px;

$n-offset: 0em;
$s-offset: 0.5em;
$m-offset: 1em;
$l-offset: 1.5em;
$xl-offset: 2em;

$fonts: "Century Gothic", Arial, sans-serif;

$font-size: 1rem;

$h1-size: $font-size * 4.0;
$h2-size: $font-size * 2.5;
$h3-size: $font-size * 2.0;
$h4-size: $font-size * 1.75;
$h5-size: $font-size * 1.5;
$h6-size: $font-size * 1.25;

$white: #ffffff;
$black: #000000;

$alpha: #ffffff00;
$alpha-dark: #00000000;

$themes: (
    "default": (
        "primary": #f7f7f7, 
        "text-colour": $black,
        "fonts": "Century Gothic", Arial, sans-serif,
        "font-size": $font-size,
        "padding": $s-offset,
        "margin": $s-offset,
        "rounding": 0.25em,
    ), 
    "dark": ( 
        "primary": #080808, 
        "text-colour": $white,
        "fonts": "Century Gothic", Arial, sans-serif,
        "font-size": $font-size,
        "padding": $s-offset,
        "margin": $s-offset,
        "rounding": 0.25em,
    )
);

%clickable {
    cursor: pointer;
}

@mixin border-radius($radius: 0.25em) {
    border: 0px;
    border-radius: $radius;
}
