@use "sass:map";
@use "sass:color";
@use 'variables';
@use 'prototypes';

@for $i from -1 through 10 {
    .z#{$i} {
        z-index: $i;
    }
}

.z-99 {
    z-index: 99;
}

.z-999 {
    z-index: 999;
}

.z-9999 {
    z-index: 9999;
}
