#theme-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2em;
    right: 2em;
    border-radius: 2em;
}

#theme-button-image {
    margin: 0.25em;
}

#top-button-container {
    position: fixed;
    bottom: 2em;
    right: 2em;
    border-radius: 2em;
}

img.light-image.light-mode {
    filter: invert(1);
}

img.dark-image.dark-mode {
    filter: invert(1);
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    justify-content: start;
    align-items: center;
}

.title-banner-content-container {
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-banner-content-container :first-child {
    flex: 1;
}

.title-banner-content-container :last-child {
    flex: 1;
}

.banner-content-container {
    height: 12em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    min-height: 20em;
    min-width: 75%;
    max-width: 75%;
    padding: 2em;
    margin: 4em;
    border-radius: 3px;
    box-shadow: #999 0px 0px 5px 0px;
}

.content-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.image-carousel {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel-buttons {
    align-self: flex-end;
    display: flex; 
    flex-direction: row; 
    margin-top: -10em; 
    z-index: 100; 
    justify-content: space-between; 
    align-items: center;
}

.image {
    margin: -4em 2em 0px 2em;
    min-width: 15em;
    min-height: 15em;
    border-radius: 3px;
    box-shadow: #999 0px 0px 5px 0px;
}

.after-image {
    margin-left: 1em;
}

.form {
    width: 40%;
    margin: 2em;
    padding: 1em;
    border-radius: 3px;
    box-shadow: #999 0px 0px 5px 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 2em;
}

.form-label {
    min-width: 7em;
    max-width: 7em;
    margin: 0.25em 0.5em 0.25em 0px;
    font-size: 1rem;
}

.form-input {
    margin: 0.25em 0px;
}

@media screen and (max-width: 1800px) {

    .content-box {
        width: 85vw;
        max-width: 85vw;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form {
        width: 60%;
    }
}

@media screen and (max-width: 1200px) {
    
    .content-box {
        width: 100vw;
        max-width: 100vw;
        margin-left: 0px;
        margin-right: 0px;
    }

    .image {
        min-height: 10em;
        min-width: 10em;
    }

    .form {
        width: 80%;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 900px) {

    .link-row {
        flex-direction: column;
        align-items: center;
    }

    .content-box :first-child {
        flex-direction: column;
    }

    .image {
        margin-left: 1em;
    }

    .after-image {
        margin: 1rem 1rem;
    }

    .form {
        width: 100%;
        margin: 2em 0px;
    }
}

.image-carousel * {
    margin: 0px -1em;
}

.fas.light-mode {
    font-size: 4em; display: flex; justify-content: center; align-items: center; filter: opacity(50%); cursor: pointer;
}

.fas.dark-mode {
    font-size: 4em; display: flex; justify-content: center; align-items: center; filter: opacity(50%) invert(100%); cursor: pointer;
}

.icon-row-group * {
    margin-right: 1em;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    width: 5em;
    height: 5em;
    background: linear-gradient(135deg, #ffffff00, #e9e9e980 25%, #ffffff00);
    box-shadow: #999 0px 0px 3px 0px;
    background-size: 200% 200%;
    -webkit-animation: animation-back 0.2s ease forwards;
    -moz-animation: animation-back 0.2s ease forwards;
    animation: animation-back 0.2s ease forwards;
}

.icon:hover {
    -webkit-animation: animation-forward 0.2s ease forwards;
    -moz-animation: animation-forward 0.2s ease forwards;
    animation: animation-forward 0.2s ease forwards;
}

.icon.dark-mode {
    background: linear-gradient(135deg, #ffffff00, #16161680 25%, #ffffff00);
    background-size: 200% 200%;
}

.icon :first-child {
    font-size: 4em;
    filter: opacity(85%);
}

.link-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
    background: linear-gradient(135deg, #ffffff00, #e9e9e980 25%, #ffffff00);
    box-shadow: #999 0px 0px 3px 0px;
    background-size: 200% 200%;
    transition: margin 0.2s, width 0.2s, height 0.2s;
    -webkit-animation: animation-back 0.2s ease forwards;
    -moz-animation: animation-back 0.2s ease forwards;
    animation: animation-back 0.2s ease forwards;
}

.link-icon:hover {
    margin: -0.25em 0.75em -0.25em -0.25em;
    width: 5.5em;
    height: 5.5em;
    transition: margin 0.2s, width 0.2s, height 0.2s;
    -webkit-animation: animation-forward 0.2s ease forwards;
    -moz-animation: animation-forward 0.2s ease forwards;
    animation: animation-forward 0.2s ease forwards;
}

.link-icon.dark-mode {
    background: linear-gradient(135deg, #ffffff00, #16161680 25%, #ffffff00);
    background-size: 200% 200%;
}
