@use "sass:map";
@use "sass:color";
@use "../variables";
@use "../prototypes";

@each $name, $theme in variables.$themes {
    $colours: map.get($theme, "colours");
    $primary: map.get($colours, "primary");
    $secondary: map.get($colours, "secondary");
    $tertiary: map.get($colours, "tertiary");
    $darkened-1: map.get($colours, "darkened-1");
    $darkened-2: map.get($colours, "darkened-2");
    $lightened-1: map.get($colours, "lightened-2");
    $lightened-2: map.get($colours, "lightened-2");
    $shifted-1: map.get($colours, "shifted-1");
    $shifted-2: map.get($colours, "shifted-2");
    $shifted-3: map.get($colours, "shifted-3");
    $inverted: map.get($colours, "inverted");
    $complement: map.get($colours, "complement");
    $text: map.get($theme, "text-colour");

    .#{$name}.fill,
    .#{$name}.box,
    .#{$name}.inline-box {
        background-color: $primary;
        color: $text;

        &.secondary {
            background-color: $secondary;

            &.complement {
                background-color: complement($secondary);
            }

            &.inverted {
                background-color: invert($secondary);
            }

            &.transparent {
                background-color: color.scale($secondary, $alpha: -25%);
            }
        }

        &.tertiary {
            background-color: $tertiary;

            &.complement {
                background-color: complement($tertiary);
            }

            &.inverted {
                background-color: invert($tertiary);
            }

            &.transparent {
                background-color: color.scale($tertiary, $alpha: -25%);
            }
        }

        &.darkened-2 {
            background-color: $darkened-2;

            &.complement {
                background-color: complement($darkened-2);
            }

            &.inverted {
                background-color: invert($darkened-2);
            }

            &.transparent {
                background-color: color.scale($darkened-2, $alpha: -25%);
            }
        }

        &.lightened-2 {
            background-color: $lightened-2;

            &.complement {
                background-color: complement($lightened-2);
            }

            &.inverted {
                background-color: invert($lightened-2);
            }

            &.transparent {
                background-color: color.scale($lightened-2, $alpha: -25%);
            }
        }

        &.shifted-1 {
            background-color: $shifted-1;

            &.complement {
                background-color: complement($shifted-1);
            }

            &.inverted {
                background-color: invert($shifted-1);
            }

            &.transparent {
                background-color: color.scale($shifted-1, $alpha: -25%);
            }
        }

        &.shifted-2 {
            background-color: $shifted-2;

            &.complement {
                background-color: complement($shifted-2);
            }

            &.inverted {
                background-color: invert($shifted-2);
            }

            &.transparent {
                background-color: color.scale($shifted-2, $alpha: -25%);
            }
        }

        &.complement {
            background-color: $complement;
        }

        &.inverted {
            background-color: $inverted;
        }

        &.transparent {
            background-color: color.scale($primary, $alpha: -25%);
        }
    }

    %#{$name}-gradient {
        background: linear-gradient(
            135deg,
            variables.$alpha,
            $shifted-1 25%,
            variables.$alpha
        );

        &.fill {
            background: linear-gradient(
                135deg,
                $primary,
                $shifted-1 25%,
                $primary
            );
        }
    }

    %#{$name}-gradient-hover-animation {
        @extend %#{$name}-gradient;
        background-size: 200% 200%;
        -webkit-animation: animation-back 0.2s ease forwards;
        -moz-animation: animation-back 0.2s ease forwards;
        animation: animation-back 0.2s ease forwards;

        &.fill {
            background-size: 200% 200%;
            -webkit-animation: animation-back 0.2s ease forwards;
            -moz-animation: animation-back 0.2s ease forwards;
            animation: animation-back 0.2s ease forwards;
        }
    }

    .gradient.#{$name} {
        @extend %#{$name}-gradient;
    }

    .gradient-hover-animation.#{$name} {
        @extend %#{$name}-gradient-hover-animation;
    }
}

.gradient-hover-animation:hover {
    -webkit-animation: animation-forward 0.2s ease forwards;
    -moz-animation: animation-forward 0.2s ease forwards;
    animation: animation-forward 0.2s ease forwards;

    &.fill {
        -webkit-animation: animation-forward 0.2s ease forwards;
        -moz-animation: animation-forward 0.2s ease forwards;
        animation: animation-forward 0.2s ease forwards;
    }
}

@-webkit-keyframes animation-forward {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@-moz-keyframes animation-forward {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes animation-forward {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@-webkit-keyframes animation-back {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@-moz-keyframes animation-back {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes animation-back {
    0% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
