.padding-top-s {
  padding-top: 0.25em;
}

.padding-bottom-s {
  padding-bottom: 0.25em;
}

.padding-left-s {
  padding-left: 0.25em;
}

.padding-right-s {
  padding-right: 0.25em;
}

.padding-horizontal-s {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.padding-vertical-s {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.padding-s {
  padding: 0.25em;
}

.padding-top-m {
  padding-top: 0.5em;
}

.padding-bottom-m {
  padding-bottom: 0.5em;
}

.padding-left-m {
  padding-left: 0.5em;
}

.padding-right-m {
  padding-right: 0.5em;
}

.padding-horizontal-m {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.padding-vertical-m {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.padding-m {
  padding: 0.5em;
}

.padding-top-l {
  padding-top: 1em;
}

.padding-bottom-l {
  padding-bottom: 1em;
}

.padding-left-l {
  padding-left: 1em;
}

.padding-right-l {
  padding-right: 1em;
}

.padding-horizontal-l {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-vertical-l {
  padding-top: 1em;
  padding-bottom: 1em;
}

.padding-l {
  padding: 1em;
}

.padding-top-xl {
  padding-top: 1.5em;
}

.padding-bottom-xl {
  padding-bottom: 1.5em;
}

.padding-left-xl {
  padding-left: 1.5em;
}

.padding-right-xl {
  padding-right: 1.5em;
}

.padding-horizontal-xl {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.padding-vertical-xl {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.padding-xl {
  padding: 1.5em;
}

.margin-top-s {
  margin-top: 0.25em;
}

.margin-bottom-s {
  margin-bottom: 0.25em;
}

.margin-left-s {
  margin-left: 0.25em;
}

.margin-right-s {
  margin-right: 0.25em;
}

.margin-horizontal-s {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.margin-vertical-s {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.margin-s {
  margin: 0.25em;
}

.margin-top-m {
  margin-top: 0.5em;
}

.margin-bottom-m {
  margin-bottom: 0.5em;
}

.margin-left-m {
  margin-left: 0.5em;
}

.margin-right-m {
  margin-right: 0.5em;
}

.margin-horizontal-m {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.margin-vertical-m {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margin-m {
  margin: 0.5em;
}

.margin-top-l {
  margin-top: 1em;
}

.margin-bottom-l {
  margin-bottom: 1em;
}

.margin-left-l {
  margin-left: 1em;
}

.margin-right-l {
  margin-right: 1em;
}

.margin-horizontal-l {
  margin-left: 1em;
  margin-right: 1em;
}

.margin-vertical-l {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-l {
  margin: 1em;
}

.margin-top-xl {
  margin-top: 1.5em;
}

.margin-bottom-xl {
  margin-bottom: 1.5em;
}

.margin-left-xl {
  margin-left: 1.5em;
}

.margin-right-xl {
  margin-right: 1.5em;
}

.margin-horizontal-xl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.margin-vertical-xl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.margin-xl {
  margin: 1.5em;
}

.content-column, .flex-column-right, .flex-column-left, .flex-column-end-right, .flex-column-end-left, .flex-column-end, .flex-column-center-right, .flex-column-center-left, .flex-column-center, .flex-column-start-right, .flex-column-start-left, .flex-column-start, .flex-column {
  height: 100%;
  background-color: #fafafa;
}
.content-column.dark, .dark.flex-column-right, .dark.flex-column-left, .dark.flex-column-end-right, .dark.flex-column-end-left, .dark.flex-column-end, .dark.flex-column-center-right, .dark.flex-column-center-left, .dark.flex-column-center, .dark.flex-column-start-right, .dark.flex-column-start-left, .dark.flex-column-start, .dark.flex-column {
  background-color: #050505;
}

.content-row, .flex-row-bottom, .flex-row-top, .flex-row-end-bottom, .flex-row-end-top, .flex-row-end, .flex-row-center-bottom, .flex-row-center-top, .flex-row-center, .flex-row-start, .flex-row {
  width: 100%;
  background-color: #fafafa;
}
.content-row.dark, .dark.flex-row-bottom, .dark.flex-row-top, .dark.flex-row-end-bottom, .dark.flex-row-end-top, .dark.flex-row-end, .dark.flex-row-center-bottom, .dark.flex-row-center-top, .dark.flex-row-center, .dark.flex-row-start, .dark.flex-row {
  background-color: #050505;
}

.flex, .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.flex-column-start-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-column-start-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-grow: 1;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.flex-column-center-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-column-center-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}
.flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.flex-column-end-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-column-end-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}
.flex-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.flex-row-center-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-row-center-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}
.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.flex-row-end-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-row-end-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}
.flex-row-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
.flex-row-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}

.flex-grow-4 {
  flex-grow: 4;
}

.flex-grow-5 {
  flex-grow: 5;
}

p, .text {
  font-size: 1rem;
  margin: 0.25em 0em;
  color: #000000;
  font-weight: normal;
}
p.dark, .text.dark {
  color: white;
}

h1, .h1-text {
  font-size: 3.5rem;
  margin: 0.25em 0em;
  color: #000000;
  font-weight: normal;
}
h1.dark, .h1-text.dark {
  color: white;
}

h2, .h2-text {
  font-size: 2.5rem;
  margin: 0.25em 0em;
  color: #000000;
  font-weight: normal;
}
h2.dark, .h2-text.dark {
  color: white;
}

h3, .h3-text {
  font-size: 1.75rem;
  margin: 0.25em 0em;
  color: #000000;
  font-weight: normal;
}
h3.dark, .h3-text.dark {
  color: white;
}

h4, .h4-text {
  font-size: 1.25rem;
  margin: 0.25em 0em;
  color: #000000;
  font-weight: normal;
}
h4.dark, .h4-text.dark {
  color: white;
}

@media screen and (max-width: 1200px) {
  p, .text {
    font-size: 0.9rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  p.dark, .text.dark {
    color: white;
  }

  h1, .h1-text {
    font-size: 3.15rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h1.dark, .h1-text.dark {
    color: white;
  }

  h2, .h2-text {
    font-size: 2.25rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h2.dark, .h2-text.dark {
    color: white;
  }

  h3, .h3-text {
    font-size: 1.575rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h3.dark, .h3-text.dark {
    color: white;
  }

  h4, .h4-text {
    font-size: 1.125rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h4.dark, .h4-text.dark {
    color: white;
  }
}
@media screen and (max-width: 900px) {
  p, .text {
    font-size: 0.75rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  p.dark, .text.dark {
    color: white;
  }

  h1, .h1-text {
    font-size: 2.625rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h1.dark, .h1-text.dark {
    color: white;
  }

  h2, .h2-text {
    font-size: 1.875rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h2.dark, .h2-text.dark {
    color: white;
  }

  h3, .h3-text {
    font-size: 1.3125rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h3.dark, .h3-text.dark {
    color: white;
  }

  h4, .h4-text {
    font-size: 0.9375rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h4.dark, .h4-text.dark {
    color: white;
  }
}
@media screen and (max-width: 600px) {
  p, .text {
    font-size: 0.5rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  p.dark, .text.dark {
    color: white;
  }

  h1, .h1-text {
    font-size: 1.75rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h1.dark, .h1-text.dark {
    color: white;
  }

  h2, .h2-text {
    font-size: 1.25rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h2.dark, .h2-text.dark {
    color: white;
  }

  h3, .h3-text {
    font-size: 0.875rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h3.dark, .h3-text.dark {
    color: white;
  }

  h4, .h4-text {
    font-size: 0.625rem;
    margin: 0.25em 0em;
    color: #000000;
    font-weight: normal;
  }
  h4.dark, .h4-text.dark {
    color: white;
  }
}
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 1rem;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  background: #fafafa;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
