@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

@each $name, $theme in variables.$themes {
    $primary: map.get($theme, "primary");
    $text: map.get($theme, "text-colour");

    .#{$name}.box {
        @extend %box;
        background-color: $primary;
        color: $text;
    }
    
    .#{$name}.inline-box {
        @extend %box;
        display: inline-flex;
        min-height: fit-content;
    }
}
