@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.button {
    @extend %flex;
    @extend %shadow-3;
    @extend %clickable;
    @include prototypes.border-radius();

    min-width: min-content;
    min-height: min-content;
    padding: 0.5em;

    &.active {
        @extend .shadow-inset-3 !optional;

        &:hover {
            @extend .shadow-inset-5 !optional;
        }
    }

    &:hover {
        @extend .shadow-5 !optional;

        &.active {
            @extend .shadow-inset-5 !optional;
        }
    }

    &:active {
        @extend .shadow-inset-3 !optional;
    }
}

@for $i from 1 through 3 {
    
    @each $name, $theme in variables.$themes {
        $primary: map.get($theme, "primary");
        $text: map.get($theme, "text-colour");

        .button-round-#{$i}, .#{$name}.button-round-#{$i} {
            @extend .button ;
            border-radius: #{$i / 2 + 1}em;
        }
    
        .button-expand-#{$i}, .#{$name}.button-expand-#{$i} {
            @extend %flex;
            
            > * { 
                animation: animation-shrink-#{$i} 0.2s ease forwards;
    
                &.gradient-hover-animation {
                    animation: animation-shrink-gradient-#{$i} 0.2s ease forwards;
                }
            } 
        
            &:hover {
                > * { 
                    animation: animation-expand-#{$i} 0.2s ease forwards;
    
                    &.gradient-hover-animation {
                        animation: animation-expand-gradient-#{$i} 0.2s ease forwards;
                    }
                } 
            }
        }
    }

    @keyframes animation-expand-#{$i} {
        0%{margin: 0em; padding: #{$i * 0.5em};}
        100%{margin: #{$i * -0.5em}; padding: #{$i * 0.5em + 0.5em};}
    }
    
    @keyframes animation-shrink-#{$i} {
        0%{margin: #{$i * -0.5em}; padding: #{$i * 0.5em + 0.5em};}
        100%{margin: 0em; padding: #{$i * 0.5em};}
    }

    @keyframes animation-expand-gradient-#{$i} {
        0%{margin: 0em; padding: #{$i * 0.5em}; background-position: 0% 0%;}
        100%{margin: #{$i * -0.5em}; padding: #{$i * 0.5em + 0.5em}; background-position: 100% 100%;}
    }
    
    @keyframes animation-shrink-gradient-#{$i} {
        0%{margin: #{$i * -0.5em}; padding: #{$i * 0.5em + 0.5em}; background-position: 100% 100%;}
        100%{margin: 0em; padding: #{$i * 0.5em}; background-position: 0% 0%;}
    }
}
