@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.floating {
    @extend %box;
    position: fixed;
    top: 0px;
    left: 0px;

    .handle-titlebar {}

    .handle-scrollbar {}

    .handle-resize {}
}
