@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.form {
    @extend %box;
    @extend %padding-1;
    @extend %width-10;
}

.form-row {
    @include prototypes.flex-row(flex-start, flex-start);
    @extend %width-10;
}

.form-label {
    @extend %width-3;
    @extend %padding-top-xs;
    text-align: end;
}

.form-input {
    @include prototypes.border-radius();
    @extend %shadow-1;
    @extend %width-6;
    @extend %margin-left-s; 
    @extend %padding-xs;
    resize: vertical;
}

.form-input[type="checkbox"] {
    width: min-content;
    align-self: center;
    margin-right: auto;
}

@each $name, $theme in variables.$themes {
    $colours: map.get($theme, "colours");
    $primary: map.get($colours, "primary");
    $secondary: map.get($colours, "secondary");
    $tertiary: map.get($colours, "tertiary");
    $darkened-1: map.get($colours, "darkened-1");
    $darkened-2: map.get($colours, "darkened-2");
    $lightened-1: map.get($colours, "lightened-2");
    $lightened-2: map.get($colours, "lightened-2");
    $shifted-1: map.get($colours, "shifted-1");
    $shifted-2: map.get($colours, "shifted-2");
    $shifted-3: map.get($colours, "shifted-3");
    $inverted: map.get($colours, "inverted");
    $complement: map.get($colours, "complement");
    $text: map.get($theme, "text-colour");

    .#{$name}.form-input {
        border: 1px solid $shifted-2;
        color: $text;
        background-color: invert($text);
    }
}

@media screen and (max-width: variables.$screen-width-m) {
    .form-row {
        @include prototypes.flex-column(space-between, flex-start);
    }

    .form-label {
        text-align: start;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-input {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
