@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.image {
    @extend %padding-1;
    @extend %box;
    user-select: none;
}

.image-carousel {
    @include prototypes.flex-row(space-around, center);
    width: min-content;

    > .image {
        margin: {
            left: -1.5em;
            right: -1.5em;
        }
    }

    &::before {
        content: "<";
        display: none;
        font-size: 1.25rem;
    }

    &::after {
        content: ">";
        display: none;
        font-size: 1.25rem;
    }
}
