@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.image {
    @extend %box;
    user-select: none;
}

.image-carousel {
    @include prototypes.flex-row(center, center);
    width: min-content;
    max-width: 50%;

    // > .image {
    //     margin: {
    //         left: -2em;
    //         right: -2em;
    //     }
    // }

    &::before {
        content: "<";
        display: none;
        font-size: 1.25rem;
    }

    &::after {
        content: ">";
        display: none;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: variables.$screen-width-small) {
    .image-carousel {
        @include prototypes.flex-row(center, center);
        width: 100%;
        max-width: 100%;
    }
}
