@use "sass:map";
@use "sass:color";
@use '../variables';
@use '../prototypes';

.link-row {
    @extend %flex;

    > * {
        @extend %margin-horizontal-1;
    }
}

.link-row-group {
    @extend %flex-row;
}

.link {
    @include prototypes.link(map.get(map.get(variables.$themes, "default"), "primary"));
}

@each $name, $theme in variables.$themes {
    $primary: map.get($theme, "primary");
    $text: map.get($theme, "text-colour");

    .#{$name}.link {
        @include prototypes.link($primary);
    }
}

.link-bar {
    cursor: pointer;
    width: calc(100% + 1em);
    background: #e9e9e980;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px -0.5em;
    padding: 0px 0.5em;
    border-radius: 0.25em;
}
